body {
  margin: 0;
  font-family: "Assistant", sans-serif;
  background: -webkit-gradient(linear, left top, left bottom, from(orange), to(purple));
  background: linear-gradient(to bottom, orange, purple);
  background-attachment: local;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  grid-auto-flow: row;
  grid-gap: 20px;
}

header {
  background: url("images/keyboard.jpg");
  background-size: cover;
  background-position-y: center;
  color: black;
  padding: 20px;
  height: 300px;
  grid-row: 1;
  display: grid;
  grid-template-columns: auto;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -ms-flex-line-pack: center;
      align-content: center;
}

#header {
  padding: 5px;
  background: rgba(255, 255, 255, 0.6);
  font-size: 50px;
}

#title {
  background: rgba(255, 255, 255, 0.6);
}

p {
  padding: 5px;
  font-size: 20px;
  text-align: center;
}

section {
  background: rgba(255, 255, 255, 0.3);
  padding: 20px;
  color: black;
  grid-row: 2 / -1;
  display: grid;
  grid-template-columns: repeat(auto-fill, 1fr);
  grid-template-rows: auto 1fr;
  grid-auto-flow: row;
  -ms-flex-line-pack: start;
      align-content: start;
  grid-gap: 10px;
}

#about {
  border: 1px solid black;
  text-align: right;
  font-size: 30px;
  padding: 10px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

a:active {
  border: none;
  text-decoration: none;
  color: black;
}

a:visited {
  border: none;
  text-decoration: none;
  color: black;
}

#items {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(auto-fill, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 10px;
}

.item {
  grid-column: 3 / -3;
}

img {
  -webkit-box-shadow: 2px 2px 4px black;
  box-shadow: 2px 2px 4px black;
  border: 2px solid #ffc600;
  max-width: 100%;
  height: auto;
}

img:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

footer {
  background: rgba(4, 4, 8, 0.8);
  padding: 20px;
  height: 300px;
  grid-row: -1;
  color: black;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 20px;
  grid-auto-flow: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

h3 {
  margin: 0;
  height: 100%;
  grid-row: 1;
  background: rgba(255, 255, 255, 0.6);
  font-size: 20px;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
}

.icons {
  height: 100%;
  grid-row: 2;
  background: rgba(255, 255, 255, 0.6);
  padding: 5px;
  display: grid;
  grid-auto-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 5px;
}

#contact {
  grid-row: 3;
  -ms-flex-item-align: start;
      align-self: start;
}

#contact-btn {
  font-family: "Assistant", sans-serif;
  height: 50%;
  width: 100%;
  font-size: 20px;
}
